{% extends 'base.html.twig' %}

{% block body %}
    {% for category in categories %}
            <div class="sppb-col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">{{ category.name}}</h1>
                        <a href={{ path('category_show', { 'id':category.id }) }} class="btn btn-primary">visite</a>
                    </div>
                </div>
    {% endfor %}



    <div class="jumbotron">
        <h1 class="display-4">PRENDRE RDV</h1>
        <hr class="my-4">
        <p>Une consultation préalable est obligatoire avant tout acte de médecine ou chirurgie esthétique. Cette consultation permettra d'établir un programme médical personnalisé.
            Pour prendre rendez-vous merci de nous contacter au 02.97.64.81.63 </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="#" role="button">Comment se passe une consultation</a>
        </p>
    </div>


{% endblock %}
