<h1>Les Actualités</h1>

{% block body %}

<section class="article">

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 29/09/2020 à 19h00 dans la catégorie Intervention</div>
        <div class="content">
            <img src="https://placehold.it/350x150" alt="">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <a href="{{ path('default_show') }}" class="btn btn-primary">Lire la suite</a>
        </div>
    </article>


</section>

{% endblock %}
