<!DOCTYPE html>
<html lang="En">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dr Vimont{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>


    {{ render(controller('App\\Controller\\DefaultController:mainMenu')) }}

    <main class="main-content container">
        {% block body %}{% endblock %}
    </main>


        <footer class="footer">
            <div class="container">


            </div>
        </footer>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>

</html>
